<html>
  <head>
    <title>Pokédex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!-- Leaflet interactive maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	    crossorigin=""></script>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='Pokeball.PNG')}}"/>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
  </head>

  <body>
    <header>
      <script src="{{url_for('static', filename='dark-mode.js')}}"></script>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
	<a class="navbar-brand" href="/home"><img src="{{url_for('static', filename='Pokeball.PNG')}}" width="48px" height="48px"> Pokedex</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav mr-auto"> <!-- mr-auto para dejar todo el margen disponible a la derecha -->
	    
	    <li class="nav-item active mr-1" id="navb-item">
	      <a class="nav-link" href="/pokemon">Pokemon List</a>
	    </li>
	    <li class="dropdown mt-2 mr-3" id="navb-item">
	      <a class="dropdown-toggle" id="navb-item" data-toggle="dropdown" href="">Stats<span class="caret"></span></a>
	      <ul class="dropdown-menu" id="dropd">
		<li><a id="navb-item" href="/stats-type">Type</a></li>
		<li><a id="navb-item" href="/stats-evol">Evolution</a></li>
	      </ul>
	    </li>
	    <li class="dropdown mt-2 mr-3" id="navb-item">
	      <a class="dropdown-toggle" id="navb-item" data-toggle="dropdown" href="">Maps<span class="caret"></span></a>
	      <ul class="dropdown-menu" id="dropd">
		<li><a id="navb-item" href="/map-markers">Markers</a></li>
		<li><a id="navb-item" href="/map-explore">Exploring</a></li>
	      </ul>
	    </li>
	  </ul>
	  <strong class="text mr-4" style="color:#FFFFFF;background-color:#000000;" id="date"></strong>
	  <script src="{{url_for('static', filename='date.js')}}"></script>
	  <button class="btn" id="darkBtn" onclick="{change_mode();}">Dark mode</button>
	</div>
      </nav>
    </header>

    <div class="container mb-4">
      <div class="row">
	<!-- Begin page content -->
	<main role="main" class="container col-md-12">
	  <!-- Posibles mensajes flash -->
		{% with msgs=get_flashed_messages() %}
		{% if msgs %}
			{% for msg in msgs %}
			{% if ":(" in msg %}
			<div class="alert alert-danger mt-2 mb-1" role="alert">{{msg}}</div>
			{% elif ":)" in msg or ":D" in msg %}
			<div class="alert alert-success mt-2 mb-1" role="alert">{{msg}}</div>
			{% else %}
			<div class="alert alert-primary mt-2 mb-1" role="alert">{{msg}}</div>
			{% endif %}
			{% endfor %}
		{% endif %}
		{% endwith %}
		
		<div id="content">
		  {% block name %}{% endblock %}
		  {% block search %}{% endblock %}
		  {% block content %}{% endblock %}
	  </div>
	</main>
      </div>
    </div>

    <!-- Sicky footer -->
    <footer class="footer">
      <div class="container mt">
	<span class="text-muted">David Cabezas Berrido</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
